config SHIELD_CRYNE_LEFT
    def_bool $(shields_list_contains,cryne_left)

config SHIELD_CRYNE_RIGHT
    def_bool $(shields_list_contains,cryne_right)

config SHIELD_CRYNE
    def_bool $(shields_list_contains,cryne_left) || $(shields_list_contains,cryne_right)
    select ZMK_SPLIT
