if SHIELD_CRYNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Cryne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRYNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cryne Right"

endif

if SHIELD_CRYNE_LEFT || SHIELD_CRYNE_RIGHT

config ZMK_SPLIT
    default y

endif
