if SHIELD_CRYNE_LEFT

config ZMK_KEYBOARD_NAME
    default "Cryne Left"

endif

if SHIELD_CRYNE_RIGHT

config ZMK_KEYBOARD_NAME
    default "Cryne Right"

endif

# Note: ZMK_SPLIT defaults removed - configure in .conf files
