/*
* Copyright (c) 2020 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1100  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer

#define TD_C(key, mod) &td_c <&mt mod key>, <&sk mod>;   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer
/ {
  behaviors {
    bspc_del: backspace_delete {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp BACKSPACE>, <&kp DELETE>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
      // Keeps mod dosn't remove the mod after the morph
      // keep-mods = <(MOD_RSFT)>;
    };
    right_home: right_hm {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp LEFT>, <&kp HOME>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    down_page_d: down_pgd {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DOWN>, <&kp PAGE_DOWN>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    up_page_u: up_pgu {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp UP>, <&kp PAGE_UP>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    right_end: right_nd {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp RIGHT>, <&kp END>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    // Combo mod-morphs for arrow keys with SPACE modifier
    combo_left_ins: combo_left_insert {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp LEFT>, <&kp INS>;
      mods = <(MOD_LGUI|MOD_RGUI)>;
    };
    combo_down_pgdn: combo_down_page_down {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp DOWN>, <&kp PAGE_DOWN>;
      mods = <(MOD_LGUI|MOD_RGUI)>;
    };
    combo_up_pgup: combo_up_page_up {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp UP>, <&kp PAGE_UP>;
      mods = <(MOD_LGUI|MOD_RGUI)>;
    };
    combo_right_end: combo_right_end_key {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&kp RIGHT>, <&kp END>;
      mods = <(MOD_LGUI|MOD_RGUI)>;
    };

    mouse_h: mouse_left_scroll {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_LEFT>, <&msc SCRL_LEFT>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mouse_j: mouse_down_scroll {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_DOWN>, <&msc SCRL_DOWN>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mouse_k: mouse_up_scroll {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_UP>, <&msc SCRL_UP>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };
    mouse_l: mouse_right_scroll {
      compatible = "zmk,behavior-mod-morph";
      #binding-cells = <0>;
      bindings = <&mmv MOVE_RIGHT>, <&msc SCRL_RIGHT>;
      mods = <(MOD_LSFT|MOD_RSFT)>;
    };

    td_layer1: tap_dance_layer1 {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&mo 1>, <&to 1>;
    };
    td_layer2: tap_dance_layer2 {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&mo 2>, <&to 2>;
    };
    td_layer3: tap_dance_layer3 {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&mo 3>, <&to 3>;
    };

    hml: home_row_mod_left {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "balanced";
        require-prior-idle-ms = <150>;
        tapping-term-ms = <280>;
        quick-tap-ms = <175>;
        bindings = <&kp>, <&kp>;
        hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>; // Right side keys + right thumb keys
        hold-trigger-on-release;
    };
    hmr: home_row_mod_right {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "balanced";
        require-prior-idle-ms = <150>;
        tapping-term-ms = <280>;
        quick-tap-ms = <175>;
        bindings = <&kp>, <&kp>;
        hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38>; // Left side keys + left thumb keys
        hold-trigger-on-release;
    };

    mo_tog: behavior_mo_tog {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "hold-preferred";
        tapping-term-ms = <200>;
        bindings = <&mo>, <&tog>;
    };
    mt: mod_tap {
      compatible = "zmk,behavior-hold-tap";
      #binding-cells = <2>;
      flavor = "balanced";
      tapping-term-ms = <230>;
      bindings = <&kp>, <&kp>;
      display-name = "Mod-Tap";
    };

    td_c: tap_dance_c {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kt>, <&sk>;
    };
  };

  combos {
    compatible = "zmk,combos";
    
    // Arrow key combos on home row (H J K L)
    // Using require-prior-idle-ms to avoid accidental triggers during typing
    combo_left {
      timeout-ms = <50>;
      key-positions = <31>; // H key
      bindings = <&combo_left_ins>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    combo_down {
      timeout-ms = <50>;
      key-positions = <32>; // J key
      bindings = <&combo_down_pgdn>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    combo_up {
      timeout-ms = <50>;
      key-positions = <33>; // K key
      bindings = <&combo_up_pgup>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    combo_right {
      timeout-ms = <50>;
      key-positions = <34>; // L key
      bindings = <&combo_right_end>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };

    // Additional combo: H+J for HOME
    combo_home {
      timeout-ms = <50>;
      key-positions = <31 32>; // H + J
      bindings = <&kp HOME>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    // Additional combo: K+L for END
    combo_end {
      timeout-ms = <50>;
      key-positions = <33 34>; // K + L
      bindings = <&kp END>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    // Additional combo: J+K for Page Down + Page Up shortcut
    combo_pgdn {
      timeout-ms = <50>;
      key-positions = <32 33>; // J + K
      bindings = <&kp PAGE_DOWN>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };

    // Top row combos for common keys
    combo_insert {
      timeout-ms = <50>;
      key-positions = <7 8>; // U + I
      bindings = <&kp INS>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    combo_delete {
      timeout-ms = <50>;
      key-positions = <8 9>; // I + O
      bindings = <&kp DELETE>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    combo_tab {
      timeout-ms = <50>;
      key-positions = <1 2>; // W + E
      bindings = <&kp TAB>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
    combo_tilde {
      timeout-ms = <50>;
      key-positions = <2 3>; // E + R
      bindings = <&kp TILDE>;
      require-prior-idle-ms = <100>;
      layers = <0>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      display-name = "Default Layer";
      // ----------------------------------------------------------------
      // |  Q  |  W  |  E  |  R  |  T  | |  Y  |  U  |  I  |  O  |  P  |
      // |  A  | S/⇧ | D/⎈ | F/⊞ | G/⎇ | | H/⎇ | J/⊞ | K/⎈ | L/⇧ |  ;  |
      // |  Z  |  X  |  C  |  V  |  B  | |  N  |  M  |  ,  |  .  |  /  |
      //       | LWR | RSE | SPC | TAB | | ESC | RET | LWR | BSPC|
      bindings = <
        &kp Q       &kp W           &kp E           &kp R           &kp T           &kp Y           &kp U           &kp I           &kp O            &kp P
        &kp A       &hml LSHIFT S   &hml LCTRL D    &hml LGUI F     &hml LALT G     &hmr RALT H     &hmr RGUI J     &hmr RCTRL K    &hmr RSHIFT L    &kp SEMI
        &kp Z       &kp X           &kp C           &kp V           &kp B           &kp N           &kp M           &kp COMMA       &kp DOT          &kp FSLH
        /*       */ &td_layer1      &td_layer2      &kp SPACE       &kp TAB         &kp ESC         &kp RET         &td_layer1      &bspc_del
      >;
    };

    lower_layer {
      display-name = "Lower Layer";
      // ---------------------------------------------------------------
      // |  1  |  2  |  3  |  4  |  5  | |  6   |  7   |  8   |  9   |  0  |
      // |     |     |     |     |     | | ←/HM | ↓/PD | ↑/PU | →/EN |     |
      // |     |     |     |     |     | |      |      |      |      |     |
      //       |     |     | MOU |     | | TO0  |      |      |      |
      bindings = <
        &kp N1 &kp N2 &kp N3 &kp N4     &kp N5    &kp N6      &kp N7       &kp N8     &kp N9     &kp N0
        &trans &trans &trans &trans     &trans    &right_home &down_page_d &up_page_u &right_end &trans
        &trans &trans &trans &trans     &trans    &trans      &trans       &trans     &trans     &trans
        /*   */&trans &trans &td_layer3 &trans    &to 0       &trans       &trans     &trans
      >;
    };

    raise_layer {
      display-name = "Raise Layer";
      // ---------------------------------------------------------------
      // |  !  |  @  |  #  |  $  |  %  | |  ^  |  &  |  *  |  (  |  )  |
      // |     |     |     |     |     | |  -  |  =  |  [  |  ]  |  '  |
      // |     |     |     |     |     | |     |     |     |     |  \  |
      //       |     |     | MOU |     | | TO0 |     |     |     |
      bindings = <
        &kp EXCL &kp AT &kp HASH &kp DLLR   &kp PRCNT   &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR
        &trans   &trans &trans   &trans     &trans      &kp MINUS &kp EQUAL &kp LBKT  &kp RBKT &kp APOS
        &trans   &trans &trans   &trans     &trans      &trans    &trans    &trans    &trans   &kp BSLH
        /*     */&trans &trans   &td_layer3 &trans      &to 0     &trans    &trans    &trans
      >;
    };

    mouse_layer {
      display-name = "Mouse Layer";
      // ---------------------------------------------------------------
      // |     |     |     |     |     | |     |     |     |     |     |
      // |     |     |     |     |     | | MS← | MS↓ | MS↑ | MS→ |     |
      // |     |     |     |     |     | | MB1 | MB2 | MB3 |     |     |
      //       |     |     |     |     | | TO0 |     |     |     |
      bindings = <
        &trans &trans &trans &trans &trans    &trans   &trans   &trans   &trans   &trans
        &trans &trans &trans &trans &trans    &mouse_h &mouse_j &mouse_k &mouse_l &trans
        &trans &trans &trans &trans &trans    &mkp MB1 &mkp MB2 &mkp MB3 &trans   &trans
        /*   */&trans &trans &trans &trans    &to 0    &trans   &trans   &trans
      >;
    };
  };
};
